.nav-menu {
    width: fit-content;
    max-width: 300px;
    height: 100vh;
    border-right: 1px solid #4e4a4c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 40px;
    color: var(--primary-100);
    box-sizing: border-box;
}

.nav-menu p, .nav-menu h1, .nav-menu .profile-section section, .nav-menu .profile-section form {
    display: none;
}

.nav-menu:hover .nav-button {
    width: 100%;
}

.nav-menu:hover p, .nav-menu:hover h1, .nav-menu:hover .profile-section section, .nav-menu:hover .profile-section form {
    display: initial;
}

.nav-menu:hover .profile-section section {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.nav-menu:hover h1 {
    font-weight: 500;
    font-size: 20px;
}

.logo {
    width: 50px;
}

.logo-section {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.profile-photo {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid var(--primary-100);
    padding: 2px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
}

.divider {
    flex-grow: 1;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.profile-section form svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.profile-section form button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.profile-section h3 {
    font-size: 12px;
}