.idea/

# dependencies
carsharing-admin/node_modules
carsharing-admin/.pnp
carsharing-admin/.pnp.js

# testing
carsharing-admin/coverage

# production
carsharing-admin/build

# misc
carsharing-admin/.DS_Store
carsharing-admin/.env.local
carsharing-admin/.env.development.local
carsharing-admin/.env.test.local
carsharing-admin/.env.production.local

carsharing-admin/npm-debug.log*
carsharing-admin/yarn-debug.log*
carsharing-admin/yarn-error.log*
