.transport-table {
    height: 100%;
    overflow-y: scroll;
    padding: 0 15px 0 0;
    width: 100%;
}

.transport-table table {
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
}

.transport-table > table td {
    min-width: 100px;
    padding: 20px;
    border: none;
    background-color: var(--mixed-200);
    text-align: center;
}

.transport-table img {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.transport-table .info {
    display: flex;
    gap: 10px;
    width: fit-content;
}

.transport-table .car-info img {
    width: 400px;
    height: 210px;
    border-radius: 16px;
    object-fit: contain;
}

.transport-table .car-info {
    display: flex;
    gap: 20px;
    width: max-content;
}

.transport-table .car-info a {
    text-decoration: none;
    color: #7ccc66;
}

.transport-table .action {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.transport-table .action > * {
    width: 100%;
}

.transport-table .car-info tr td:last-child {
    text-align: end;
}

.transport-table .buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.transport-table .buttons .button {
    flex: 1 1 35%;
}

.transport-table td:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.transport-table td:last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.transport-table .action > ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 840px;
}

.transport-table .action li {
    background-color: #2b2f37;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}