.edit-button {
    border-radius: 25px;
    border: 2px solid var(--primary-100);
    padding: 2px 5px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .1s;
}

.edit-button:hover {
    transition: background-color .1s;
    background-color: rgba(102, 153, 204, 0.12);
}

.edit-button p {
    margin: 0;
    font-size: 12px;
}